html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.empty-space {
  margin-top: 30px;
}

.brand {
  float: left;
}

.brand img {
  width: 250px;
  height: 100%;
}

.menu-right {
  float: left;
}

.on-desktop .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  height: 100px;
  background-color: #EC6A54;
  width: 100%;
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
  margin: 0 auto;
  font-family: 'Conv_Lato-Regular', Helvetica, Arial, sans-serif;
}

.nav li {
  list-style: none;
  float: left;
  line-height: 53px;
  height: 53px;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  font-weight: normal;
  margin: 0px 1px 0px 0px;
}

.nav li a {
  color: white;
  text-decoration: none;
  display: inherit;
  padding: 0px 15px;
  line-height: 53px;
}

.nav li:hover a, .nav li:active {
  color: #12d9e0;
}

#info-header img {
  width: 100%;
  height: 100%;
}

#gift {
  margin-top: 20px;
  float: left;
}

#gift .one-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gift .icon-item {
  background-color: #FDF0EE;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  margin-right: 20px;
}

#gift .icon-item:after {
  font-family: FontAwesome;
  content: '\f1d9';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
}

#gift .content-item {
  overflow: hidden;
}

#gift .content-item header {
  padding: 0;
}

#gift .content-item .entry-title {
  font-size: 16px;
  margin: 0 0 5px 0;
  padding: 0;
  letter-spacing: -0.03em;
  line-height: 28px;
  color: #212121;
  text-transform: uppercase;
  font-weight: 700;
}

#gift .content-item .entry-title:hover {
  color: #f1773d;
}

#gift .content-item .description-item {
  margin-bottom: 10px;
  clear: both;
}

.title-category {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  background: #464646;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}

.list-category {
  background-color: #f8f8f8;
}

.list-category ul li {
  border-top: 1px solid #dee2e5;
}

.list-category ul li a {
  text-decoration: none;
  padding: 12px 20px;
  display: block;
  color: #3f3f3f;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.list-category ul li a:hover, .list-category ul li a.active {
  color: #F4CDC7;
}

.slider img {
  width: 100%;
  height: 100%;
}

#event img {
  width: 100%;
  height: 100%;
}

#san-pham-moi {
  border: 1px solid #dee2e5;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

#san-pham-moi .title-san-pham h3 {
  background-color: #ec6a54;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  background: #ec6a54;
  margin: 0;
}

#san-pham-moi .wrap-san-pham .one-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#san-pham-moi .wrap-san-pham .one-row .item_row {
  text-align: center;
  margin-bottom: 10px;
}

#san-pham-moi .wrap-san-pham .one-row .item_row a img {
  padding: 10px;
  width: 100%;
  height: 200px;
}

#san-pham-moi .wrap-san-pham .one-row .item_row .info-sanpham {
  display: block;
}

#san-pham-moi .wrap-san-pham .one-row .item_row .info-sanpham h3 {
  text-transform: uppercase;
}

#san-pham-moi .wrap-san-pham .one-row .item_row .info-sanpham h3 a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #0f0f0f;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#san-pham-moi .wrap-san-pham .one-row .item_row .info-sanpham h3 a.hover {
  color: #EE7B68;
}

#san-pham-moi .wrap-san-pham .one-row .item_row .info-sanpham .btn-primary a {
  text-decoration: none;
  color: white;
}
