#wrap-chi-tiet-san-pham{
  margin-bottom: 30px;
  #wrap-tom-tat{
    img{
      width: 100%;
      height: 300px;
    }
  }
  #wrap-thong-tin-chi-tiet{
    margin-top: 10px;
    ul.thong-tin-chi-tiet{
      background-color: #F5F5F5;
      height: auto;
        li{
          a{
            font-weight: bolder;
          }
        }
    }
    .tab-content{
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 10px;
    }
  }
  .note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"] {
    background-color: white;
  }
}
