.title-category {
  background: linear-gradient(to bottom, #2ecc71 1%, #1b7a43 100%);
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 13px 10px 15px 20px;
}

.list-category {
  ul {
    li {
      border-bottom: 1px solid #fff;
      background: #2ECC71;
      font: bold 15px/18px "Roboto", sans-serif;
      a {
        text-decoration: none;
        padding: 12px 20px;
        display: block;
        color: #fff;
        transition: all 300ms ease;
        &:hover, &.active {
          background: #b0e0e6;
        }
      }

    }
  }
}