#san-pham-moi {
  //border: 1px solid #dee2e5;
  //border-radius: 5px;
  //overflow: hidden;
  //margin-bottom: 30px;
  h3 {
    font-size: 27px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    border-bottom: 4px solid #2ECC71;
    padding-bottom: 8px;
  }
  .wrap-san-pham {
    .list {
      display: flex;
      flex-wrap: wrap;
    }
    .list-item {
      display: flex;
      //width: 100%;
      border: 1px solid rgba(62, 67, 98, 0.11);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
      text-align: center;
      margin: 10px 0px 10px;
      background-color: #fff;
    }
    .list-content {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      width: 100%;
      a {
        img {
          width: 100%;
          height: 150px;
        }
      }
      h2 {
        text-transform: uppercase;
        margin-top: 10px;
        a {
          display: block;
          text-decoration: none;
          color: rgba(107, 118, 130, .91);
          transition: all 300ms ease;
          &.hover {
            color: #EE7B68;
          }
        }
      }
      .btn-primary {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        background: linear-gradient(to bottom, #5bb284 0%, #468966 100%);
        border: 0px solid #fff;
        border-radius:0px;
        a {
          text-decoration: none;
          color: white;
        }
        &:hover{
          background: #6aa084;
        }
      }
    }
    .list-content p {
      flex: 1 0 auto;
    }

  }

}